{% extends 'main/base.html' %}

{% block title %} Profile {% endblock title %}


{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

  <div class="container">
      {% if user.is_authenticated%}
      <h1>Hello {{user.username}}</h1>
      {% endif %}
      <h2>{{ user.get_full_name }}</h2>
      <ul>
        <li>Username: {{ user.username }}</li>
        <li>Location: {{ user.profile.location }}</li>
        <li>Birth Date: {{ user.profile.birth_date }}</li>
      </ul>
      <hr>
      {{users}}
  </div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}