{% extends 'base.html' %}

{% block title %} Create New Post {% endblock title %}


{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
    <div class="container py-3">
        {% load crispy_forms_tags %}
        <div class="">
            <h1>Create <span class="text-info">New Post</span></h1>
        </div>
        <div class="forms">
            <form action="" method="post">
                {% csrf_token %}
                <!-- TODO: text modifier -->
                {{ form|crispy }}
                
                <button type="submit " class ="btn btn-primary mt-3">Create</button>
            </form>
        </div>
    </div>
{% endblock content %}


{% block javascripts %}
{% endblock javascripts %}